@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
  font-family: "CMU Typewriter";
  src: url("/assets/cmunbtl.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CMU Typewriter";
  src: url("/assets/cmuntb.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CMU Typewriter";
  src: url("/assets/cmunvt.ttf") format('truetype');
  font-weight: lighter;
  font-style: normal;
}

html[dark-mode="false"] {
  --bg-primary: light-dark(#fff3e6, #1d1d1d);
  --bg-secondary: light-dark(#fae6d1, #202020);
  --bg-focus: light-dark(#e8d7c3, #2d2d2d);
  --bg-tertiary: light-dark(#f5dbc2, #2c2a28);

  --text: light-dark(#97653c, #c0bcb5);
  --text-muted: light-dark(#cf8a3a, #9e9184);
  --text-secondary: light-dark(#ca8c4a, #7a6e61);
  --title: light-dark(#caab90, #6b6966);
  --text-item: light-dark(#c27d33, #8b7b6d);

  --accent: light-dark(#d73c3c, #978159);
  --accent-hover: light-dark(#d73c3c, #b0986c);
  --accent-bg: light-dark(#eef2d7, #243123);
  --bold: light-dark(#b36b29, #7b9cac);
  --italic: light-dark(#d88405, #a07f6c);
  --heading-formatting-color: light-dark(#d97a64, #8e3131);

  --callout-info-accent: light-dark(#095fc7, #0979ff);
  --callout-info-bg: light-dark(#e4e3e2, #1c2633);

  color-scheme: light dark;
  background-color: var(--bg-primary);
  color: var(--text);
  font-family: "CMU Typewriter";
  display: flex;
  justify-content: center;
}

[dark-mode="false"] {
  .page-title {
    display: none;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  body {
    max-width: 700px;
    margin: 0 24px;
  }

  ul.language-chips {
    margin: 0;
    display: flex;
    list-style: none;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  ul.language-chips li {
    background-color: var(--accent-bg);
    padding: 2px 8px;
    color: var(--accent);
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    gap: 8px;
    font-size: 0.8rem;
  }

  p,
  li {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  li::marker {
    color: var(--text-item);
  }

  i {
    color: var(--italic);
  }

  b {
    color: var(--bold);
  }

  ul,
  ol {
    padding-left: 18px;
  }

  a {
    transition: color 300ms;
    color: var(--accent);
    text-decoration-thickness: 1px;
  }

  a:hover {
    color: var(--accent-hover)
  }

  h2,
  h3 {
    margin-bottom: 8px;
  }

  a[href^="http"]::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.2rem;
    vertical-align: middle;
    background: url('/assets/link.svg') no-repeat center center;
    background-size: contain;
  }

  blockquote {
    /* width: 100%; */
    border-left: 2px solid var(--accent);
    margin-right: 0;
    /* padding-right: 0; */
    padding: 4px;
    padding-left: 16px;
    margin-left: 0;
    color: var(--text-muted);
    background-color: var(--bg-secondary);
  }

  blockquote.callout-info {
    position: relative;
    border-left-color: var(--callout-info-accent);
    padding-top: 36px;
  }

  .callout-info-header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    height: 2rem;
    background-color: var(--callout-info-bg);
    color: var(--callout-info-accent);
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 16px;

    span {
      font-weight: bold;
    }
  }

  code {
    display: block;
    font-family: "JetBrains Mono";
    background-color: var(--bg-tertiary);
    font-size: 0.8rem;
    padding: 8px;
    padding-left: 18px;
  }

  img,
  video {
    display: block;
    margin: auto;
    max-height: 300px;
    border: 2px solid var(--bg-focus);
    transition: border-color 200ms;

    /* max-width: 100%; */
  }

  img:hover,
  video:hover {
    border-color: var(--accent);
  }

  canvas {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--bg-secondary);
    border: 2px solid var(--bg-focus);
    transition: border-color 200ms;
  }

  canvas:hover {
    border-color: var(--accent);
  }

  canvas#rope {
    width: 700px;
  }

  .sidebar {
    background-color: var(--bg-secondary);
    position: fixed;
    top: 50%;
    right: -250px;
    padding: 16px;
    /* max-width: 300px; */
    width: 300px;
    transform: translateY(-50%);
    border: 2px solid var(--bg-focus);
    border-right: none;
    transition: border-color 200ms, right 300ms;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
  }

  .sidebar:hover {
    border-color: var(--accent);
    right: 0;
  }

  .sidebar.pinned {
    right: 0;
  }

  .sidebar h1 {
    font-size: 2rem;
    margin: 0;
  }

  .sidebar div:not(:last-child) {
    border-bottom: 2px solid var(--bg-focus);
    margin-bottom: 16px;
  }

  .sidebar .pin {
    position: absolute;
    height: 32px;
    width: 32px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    img {
      border: none;
    }
  }

  .sidebar img {
    height: 100%;
    width: 100%;
  }

  .sidebar canvas {
    width: 200px;
    margin: auto;
    display: block;
    border: none;
  }
}