@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
  font-family: "CMU Typewriter";
  src: url("/assets/cmunbtl.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CMU Typewriter";
  src: url("/assets/cmuntb.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CMU Typewriter";
  src: url("/assets/cmunvt.ttf") format('truetype');
  font-weight: lighter;
  font-style: normal;
}

html[dark-mode="false"] {
  --bevel-light: #FFF5;
  --bevel-dark: #0005;

  --bg-primary: light-dark(#fff3e6, #1d1d1d);
  --bg-secondary: light-dark(#fae6d1, #202020);
  --bg-focus: light-dark(#e8d7c3, #2d2d2d);
  --bg-tertiary: light-dark(#f5dbc2, #2c2a28);

  --text: light-dark(#97653c, #c0bcb5);
  --text-muted: light-dark(#cf8a3a, #9e9184);
  --text-secondary: light-dark(#ca8c4a, #7a6e61);
  --title: light-dark(#caab90, #6b6966);
  --text-item: light-dark(#c27d33, #8b7b6d);

  --accent: light-dark(#d73c3c, #978159);
  --accent-hover: light-dark(#d73c3c, #b0986c);
  --accent-bg: light-dark(#eef2d7, #243123);
  --bold: light-dark(#b36b29, #7b9cac);
  --italic: light-dark(#d88405, #a07f6c);
  --heading-formatting-color: light-dark(#d97a64, #8e3131);

  --callout-info-accent: light-dark(#095fc7, #0979ff);
  --callout-info-bg: light-dark(#e4e3e2, #1c2633);

  color-scheme: light dark;
  background-color: var(--bg-primary);
  color: var(--text);
  font-family: "CMU Typewriter";
  display: flex;
  justify-content: center;
}

[dark-mode="false"] {
  .page-title {
    display: none;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  body {
    max-width: 700px;
    margin: 0 24px;
  }

  ul.language-chips {
    margin: 0;
    display: flex;
    list-style: none;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  ul.language-chips li {
    background-color: var(--accent-bg);
    padding: 2px 8px;
    color: var(--accent);
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    gap: 8px;
    font-size: 0.8rem;
  }

  p,
  li {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  li::marker {
    color: var(--text-item);
  }

  i {
    color: var(--italic);
  }

  b {
    color: var(--bold);
  }

  ul,
  ol {
    padding-left: 18px;
  }

  a {
    transition: color 300ms;
    color: var(--accent);
    text-decoration-thickness: 1px;
  }

  a:hover {
    color: var(--accent-hover)
  }

  h2,
  h3 {
    margin-bottom: 8px;
  }

  a[href^="http"]::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.2rem;
    vertical-align: middle;
    background: url('/assets/link.svg') no-repeat center center;
    background-size: contain;
  }

  blockquote {
    /* width: 100%; */
    border-left: 2px solid var(--accent);
    margin-right: 0;
    /* padding-right: 0; */
    padding: 4px;
    padding-left: 16px;
    margin-left: 0;
    color: var(--text-muted);
    background-color: var(--bg-secondary);
  }

  blockquote.callout-info {
    position: relative;
    border-left-color: var(--callout-info-accent);
    padding-top: 36px;
  }

  .callout-info-header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    height: 2rem;
    background-color: var(--callout-info-bg);
    color: var(--callout-info-accent);
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 16px;

    span {
      font-weight: bold;
    }
  }

  code {
    font-family: "JetBrains Mono";
    background-color: var(--bg-tertiary);
    font-size: 0.8rem;
    padding: 8px;
  }

  pre code {
    display: block;
    padding-left: 18px;
  }

  img,
  video {
    display: block;
    margin: auto;
    max-height: 300px;
    max-width: 100%;
    border: 2px solid var(--bg-focus);
    transition: border-color 200ms;

    /* max-width: 100%; */
  }

  img:hover,
  video:hover {
    border-color: var(--accent);
  }

  hr {
    border: 2px solid var(--bg-focus);
  }

  input {
    font-family: "CMU Typewriter";
  }

  canvas {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--bg-secondary);
    border: 2px solid var(--bg-focus);
    transition: border-color 200ms;
  }

  canvas:hover {
    border-color: var(--accent);
  }

  canvas#rope {
    width: 700px;
  }

  .sidebar {
    background-color: var(--bg-secondary);
    position: fixed;
    z-index: 4;
    top: 50%;

    right: -250px;
    padding: 16px;
    width: 300px;
    transform: translateY(-50%);
    border: 2px solid var(--bg-focus);
    border-right: none;
    transition: border-color 200ms, right 300ms;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar:hover {
    border-color: var(--accent);
    right: 0;
  }

  .sidebar.pinned {
    right: 0;
  }

  .sidebar h1 {
    font-size: 2rem;
    margin: 0;
  }

  .sidebar div:not(:last-child) {
    border-bottom: 2px solid var(--bg-focus);
    margin-bottom: 16px;
  }

  .sidebar .pin {
    display: block;
    position: absolute;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    img {
      transition: transform 100ms;
      border: none;
    }
  }

  .sidebar .pin {
    height: 32px;
    width: 32px;
  }

  .sidebar .pin:hover img {
    transform: scale(1.2);
  }

  .sidebar img,
  .open-menu img,
  .open-sidebar img {
    height: 100%;
    width: 100%;
    transition: transform 300ms;
  }

  .sidebar canvas {
    width: 200px;
    margin: auto;
    display: block;
    border: none;
  }

  .sidebar .drawer {
    position: absolute;
    right: -200px;
    width: 80px;
    top: 0;
    height: 100%;
    pointer-events: none;
  }

  .sidebar .portal {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(-70deg);
    background-color: #4EC79E;
    font-family: "Coiny";
    border-left: 4px solid var(--bevel-light);
    border-top: 4px solid var(--bevel-light);
    border-right: 4px solid var(--bevel-dark);
    border-bottom: 4px solid var(--bevel-dark);
    font-size: 1.5rem;
    width: max-content;
    padding: 4px 12px;
    cursor: pointer;
  }

  .navlinks {
    background-color: var(--bg-secondary);
    display: flex;
    position: fixed;
    flex-direction: row;
    gap: 64px;
    top: -150px;
    left: 0;
    width: 100%;
    padding: 16px;
    justify-content: center;
    border-bottom: 2px solid var(--bg-focus);
    transition: border-color 200ms, top 300ms;
  }

  .navlinks.opened {
    top: 0px
  }

  .navlinks:hover {
    border-color: var(--accent);
  }

  .navlinks h2 {
    margin-top: 0;
  }

  .navlinks a:not(:last-child) {
    margin-right: 8px;
  }

  .open-menu,
  .open-sidebar {
    height: 64px;
    width: 64px;
    position: fixed;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    img {
      border: none;
      transition: transform 100ms;
    }
  }

  .open-menu {
    top: 16px;
    left: 16px;
  }

  .open-menu:hover img {
    transform: scale(1.1);
  }

  .open-sidebar {
    display: none;
    top: 16px;
    right: 16px;
  }

  .open-sidebar img.active {
    /* rotate: 180deg; */
    transform: rotate(-180deg);
  }

  @media (max-width: 768px) {
    body {
      margin: 0 12px;
    }

    h1 {
      font-size: 2rem;
    }

    p,
    li {
      font-size: 1rem;
      line-height: 1.3rem;
    }

    canvas#rope {
      width: 100%;
    }

    .sidebar {

      right: -100%;
      width: 85%;
      max-width: 300px;
    }

    .sidebar:hover {
      right: -100%;
    }

    .sidebar.pinned {
      right: 0;
    }

    .navlinks {
      z-index: 5;
      top: -300px;
      flex-direction: column;
      gap: 16px;
      padding-left: 96px;
      /* align-items: ; */
      font-size: 0.9rem;
    }

    .navlinks a:not(:last-child) {
      margin-right: 0;
    }

    img,
    video {
      max-height: 200px;
    }

    code {
      font-size: 0.75rem;
      padding: 6px;
      overflow-x: auto;
    }

    .open-sidebar {
      display: block;
    }

    .sidebar .pin {
      display: none;
    }
  }
}