@import url("/css/boring.css");
@import url("/css/fun.css");

:root {
  color-scheme: light dark;
  --bg-primary: light-dark(#fff3e6, #1d1d1d);
  --bg-secondary: light-dark(#fae6d1, #202020);
  --bg-focus: light-dark(#e8d7c3, #2d2d2d);
  --bg-tertiary: light-dark(#f5dbc2, #2c2a28);

  --text: light-dark(#97653c, #c0bcb5);
  --text-muted: light-dark(#cf8a3a, #9e9184);
  --text-secondary: light-dark(#ca8c4a, #7a6e61);
  --title: light-dark(#caab90, #6b6966);
  --text-item: light-dark(#c27d33, #8b7b6d);

  --accent: light-dark(#d73c3c, #978159);
  --accent-hover: light-dark(#d73c3c, #b0986c);
  --accent-bg: light-dark(#eef2d7, #243123);
  --bold: light-dark(#b36b29, #7b9cac);
  --italic: light-dark(#d88405, #a07f6c);
  --heading-formatting-color: light-dark(#d97a64, #8e3131);

  --callout-info-accent: light-dark(#095fc7, #0979ff);
  --callout-info-bg: light-dark(#e4e3e2, #1c2633);
}