.page-title {
  font-size: 3rem;
}

body {
  max-width: 700px;
  margin: 0 24px;
}

ul.chips {
  display: flex;
  list-style: none;
  gap: 8px;
}

ul.chips li {
  background-color: var(--accent-bg);
  padding: 4px 8px;
  color: var(--accent);
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  gap: 8px;
}