<div class="navlinks">
	<h2 class="grabbable"><img src="/assets/person.gif" alt="person">Personal</h2>
	<a href="/aboutme.html">About Me</a>
	<a href="/cat.html">My Cat</a>
	<a href="/hobbies.html">Hobbies</a>
	<a href="/programming.html">Programming</a>
	<h2><img src="/assets/projects.gif" alt="project">Projects</h2>
	<a href="/projects/frg.html">frg</a>
	<a href="/projects/rcket.html">rcket</a>
	<a href="/projects/tetr-lang.html">tetr.lang</a>
	<a href="/projects/risk-of-rice.html">Risk of Rice</a>
	<a href="/projects/remixed.html">Remixed</a>
	<img src="/assets/pfp.jpg" class="pfp" alt="pfp">
	<button class="portal">
		Abide
	</button>
</div>