---
import type { SearchableEntry } from "@/types";
import PageLayout from "@components/search/PageLayout.astro";
import { getEntriesBatch } from "@lib/contentParser";
import { settings } from "@/config/config.json";
import type { CollectionKey } from "astro:content";

const collectionList = settings.searchable_collections as CollectionKey[];
const searchList = (await getEntriesBatch(
  collectionList,
  undefined,
  false,
)) as SearchableEntry[];
---

<h1>SEARCH DOESNT EXIST YET</h1>
<a class="text-blue-400 underline" href="/">Go Back</a>
<!-- <PageLayout searchList={searchList} /> -->

<img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f438/512.gif" />
